@model DataRequestApplicationViewModel;

@{
    ViewData["Title"] = "Data Request Application";
}

<form asp-controller="Home" asp-action="DataRequestApplication" method="post" class="">
    <fieldset>
        <legend>New Application</legend>

        <div class="jumbotron">
            <p class="text-uppercase">Important Notes</p>
            <ol>
                <li>Applicants requesting data should refer to the Data Access Protocols 2015.</li>
                <li>All questions/fields must be completed (use N/A where not applicable). Incomplete applications will not be accepted.</li>
                <li>Please send the completed application and any supporting documentation by email to datarequest@acara.edu.au</li>
                <li>Please note that information provided in the form (including personal information) will be used by ACARA for record keeping, decision making and policy development purposes.  The information will be provided to members of ACARA data request panel, other ACARA staff (as required) and may be disclosed to the ACARA Research and Data Committee as well as members of ACARA’s National Assessment, Data, Analysis and Reporting Reference Group (NADAR) and the ACARA Board for the purpose of advice and decision making.  These groups include representatives from education departments, non-government school peak bodies, research experts and other stakeholder groups.  Information about how ACARA deals with personal information is available on the <a href="http://www.acara.edu.au/privacy.html" target="_self">‘Privacy ‘ page</a> of the ACARA website online: </li>
                <li>5.	Successful applicants will be required to sign a licence deed pertaining to the management of the data provided.</li>
            </ol>
        </div>

        <div class="form-group">
            <label class="text-capitalize control-label" asp-for="OrganisationLegalName">Organisation legal name</label>
            <input class="form-control" asp-for="OrganisationLegalName" />
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span asp-validation-for="OrganisationLegalName" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label class="control-label" asp-for="OrganisationABN">Organisation ABN</label>
            <input type="text" class="form-control" asp-for="OrganisationABN" maxlength="11" />
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span asp-validation-for="OrganisationABN" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="OrganisationPhysicalAddress">Organisation Physical Address</label>
            <input type="text" class="form-control" asp-for="OrganisationPhysicalAddress" />
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span asp-validation-for="OrganisationPhysicalAddress" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="AuthorisedUsers">Authorised Users Of The Data</label>
            <input type="text" class="form-control" asp-for="AuthorisedUsers" />
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span asp-validation-for="AuthorisedUsers" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="AuthorisedSignatoryName">Authorised Signatory Name</label>
            <input type="text" class="form-control" asp-for="AuthorisedSignatoryName" />
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span asp-validation-for="AuthorisedSignatoryName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="AuthorisedSignatoryPosition">Authorised Signatory Position</label>
            <input type="text" class="form-control" asp-for="AuthorisedSignatoryPosition" />
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span asp-validation-for="AuthorisedSignatoryPosition" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="EmailAddress">Email Address</label>
            <input type="text" class="form-control" asp-for="EmailAddress" />
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="AddressForServiceOfNotices">Address For Service Of Notices(Name, Position, Postal Address):</label>
            <p id="AddressForServiceOfNotices">@Model?.AddressForServiceOfNotices</p>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td><strong>Dataset</strong></td>
                        <td class="text-center"><strong>Current calendar year</strong></td>
                        <td class="text-center"><strong>All calendar years</strong></td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>NAPLAN results</td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="NAPLAN_IsCurrentYear" group="NAPLAN" data-level="schoolLevel"/>
                            <span asp-validation-for="NAPLAN_IsCurrentYear" class="text-danger display-block"></span>
                        </td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="NAPLAN_IsAllYears" group="NAPLAN" data-level="schoolLevel" />
                            <span asp-validation-for="NAPLAN_IsAllYears" class="text-danger display-block"></span>
                        </td>
                    </tr>

                    <tr>
                        <td>NAPLAN results – similar schools</td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="NAPLAN_SimilarSchools_IsCurrentYear" group="NAPLAN_SimilarSchools" data-level="schoolLevel" />
                            <span asp-validation-for="NAPLAN_SimilarSchools_IsCurrentYear" class="text-danger display-block"></span>
                        </td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="NAPLAN_SimilarSchools_IsAllYears" group="NAPLAN_SimilarSchools" data-level="schoolLevel" />
                            <span asp-validation-for="NAPLAN_SimilarSchools_IsAllYears" class="text-danger display-block"></span>
                        </td>
                    </tr>

                    <tr>
                        <td>NAPLAN results – simple student gain</td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="NAPLAN_SimpleStudentGain_IsCurrentYear" group="NAPLAN_SimpleStudentGain" data-level="schoolLevel" />
                            <span asp-validation-for="NAPLAN_SimpleStudentGain_IsCurrentYear" class="text-danger display-block"></span>
                        </td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="NAPLAN_SimpleStudentGain_IsAllYears" group="NAPLAN_SimpleStudentGain" data-level="schoolLevel" />
                            <span asp-validation-for="NAPLAN_SimpleStudentGain_IsAllYears" class="text-danger display-block"></span>
                        </td>
                    </tr>

                    <tr>
                        <td>NAPLAN results – same starting score gain</td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="NAPLAN_SameStartingScoreGain_IsCurrentYear" group="NAPLAN_SameStartingScoreGain" data-level="schoolLevel" />
                            <span asp-validation-for="NAPLAN_SameStartingScoreGain_IsCurrentYear" class="text-danger display-block"></span>
                        </td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="NAPLAN_SameStartingScoreGain_IsAllYears" group="NAPLAN_SameStartingScoreGain" data-level="schoolLevel" />
                            <span asp-validation-for="NAPLAN_SameStartingScoreGain_IsAllYears" class="text-danger display-block"></span>
                        </td>
                    </tr>

                    <tr>
                        <td>NAPLAN results – similar schools gain</td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="NAPLAN_SimilarSchoolsGain_IsCurrentYear" group="NAPLAN_SimilarSchoolsGain" data-level="schoolLevel" />
                            <span asp-validation-for="NAPLAN_SimilarSchoolsGain_IsCurrentYear" class="text-danger display-block"></span>
                        </td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="NAPLAN_SimilarSchoolsGain_IsAllYears" group="NAPLAN_SimilarSchoolsGain" data-level="schoolLevel" />
                            <span asp-validation-for="NAPLAN_SimilarSchoolsGain_IsAllYears" class="text-danger display-block"></span>
                        </td>
                    </tr>

                    <tr>
                        <td>School attendance</td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="SchoolAttendance_IsCurrentYear" group="SchoolAttendance"/>
                        </td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="SchoolAttendance_IsAllYears" group="SchoolAttendance"/>
                        </td>
                    </tr>

                    <tr>
                        <td>Senior Secondary</td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="SeniorSecondary_IsCurrentYear" group="SeniorSecondary"/>
                        </td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="SeniorSecondary_IsAllYears" group="SeniorSecondary"/>
                        </td>
                    </tr>

                    <tr>
                        <td>VET in schools</td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="VETInSchools_IsCurrentYear" group="VETInSchools"/>
                        </td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="VETInSchools_IsAllYears" group="VETInSchools"/>
                        </td>
                    </tr>

                    <tr>
                        <td>Finance</td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="Finance_IsCurrentYear" group="Finance"/>
                        </td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="Finance_IsAllYears" group="Finance"/>
                        </td>
                    </tr>

                    <tr>
                        <td>Enrolments by grade</td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="EnrolmentsByGrade_IsCurrentYear" group="EnrolmentsByGrade"/>
                        </td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="EnrolmentsByGrade_IsAllYears" group="EnrolmentsByGrade"/>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Student level de-identified dataset
                            <br />
                            <strong class="small">Please note that student level data cannot be provided with school level data</strong>
                        </td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="StudentLevelDeidentified_IsCurrentYear" group="StudentLevelDeidentified"/>
                            <span asp-validation-for="StudentLevelDeidentified_IsCurrentYear" class="text-danger display-block"></span>
                        </td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="StudentLevelDeidentified_IsAllYears" group="StudentLevelDeidentified" />
                            <span asp-validation-for="StudentLevelDeidentified_IsAllYears" class="text-danger display-block"></span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Customised request
                            <br />
                            <input type="text" asp-for="CustomisedRequestText" class="form-control" />
                            <span asp-validation-for="CustomisedRequestText" class="text-danger"></span>
                        </td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="CustomisedRequest_IsCurrentYear" group="CustomisedRequest"/>
                        </td>
                        <td class="text-center align-middle">
                            <input type="checkbox" value="true" asp-for="CustomisedRequest_IsAllYears" group="CustomisedRequest"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="DetailedDescriptionOfTheIntendedUse">Please provide a detailed description of the intended use of the requested data (you must provide justification for each data set that you are requesting):</label>
            <textarea rows="3" class="form-control" asp-for="DetailedDescriptionOfTheIntendedUse"></textarea>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span asp-validation-for="DetailedDescriptionOfTheIntendedUse" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="PlannedProductsFromTheDataProvided">List planned product(s) from the data provided (e.g. report):</label>
            <textarea rows="3" class="form-control" asp-for="PlannedProductsFromTheDataProvided"></textarea>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span asp-validation-for="PlannedProductsFromTheDataProvided" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="LicensePeriod">Licence Period: From date of the ‘Agreement to access ACARA School Data’ To:</label>
            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-date-today-highlight="true">
                <input type="text" class="form-control" asp-for="LicensePeriod" value="@Model?.LicensePeriodString">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
            </div>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span asp-validation-for="LicensePeriod" class="text-danger"></span>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </fieldset>
</form>

@section Scripts
{
    @Html.Partial("_ValidationScriptsPartial");
    @Html.Partial("_DatepickerScriptsPartial");

    <script>
        // the selector will match all input controls of type :checkbox
        // and attach a click event handler 
        $("input:checkbox").on('click', function () {
            // in the handler, 'this' refers to the box clicked on
            var $box = $(this);
            if ($box.is(":checked")) {
                // the name of the box is retrieved using the .attr() method
                // as it is assumed and expected to be immutable
                var group = "input:checkbox[group='" + $box.attr("group") + "']";
                // the checked state of the group/box on the other hand will change
                // and the current value is retrieved using .prop() method
                $(group).prop("checked", false);
                $box.prop("checked", true);
            } else {
                $box.prop("checked", false);
            }
        });

        (function ($) {
            $.validator.addMethod('validateStudentLevelDeidentified', function (value, element, params) {
                if ($(element).is(":checked")) {
                    var isValid = true;
                    var schoolDataLevel = "input:checkbox[data-level='schoolLevel']";

                    $(schoolDataLevel).each(function () {
                        if ($(this).is(":checked")) {
                            isValid = false;
                            return false;
                        }
                    });

                    return isValid;

                } else {
                    return true;
                }

            });

            $.validator.unobtrusive.adapters.addBool('allowselectstudentleveldeidentified', 'validateStudentLevelDeidentified');

            $.validator.addMethod('validateCustomisedRequest', function (value, element, params) {
                var customisedRequest = "input:checkbox[group='CustomisedRequest']";
                if ($(customisedRequest).is(":checked")) {
                    if (value) {
                        return true;
                    }

                    return false;
                }
                else {
                    return true;
                }

            });

            $.validator.unobtrusive.adapters.addBool('requireifneeded', 'validateCustomisedRequest');

        })(jQuery);

        $(document).ready(function () {
            $("input:text[id*='AuthorisedSignatoryName']").change(function () {
                var name = $(this).val();
                var position = $("input:text[id*='AuthorisedSignatoryPosition']").val();

                formatAddressForServiceOfNotices(name, position);
            });

            $("input:text[id*='AuthorisedSignatoryPosition']").change(function () {
                var position = $(this).val();
                var name = $("input:text[id*='AuthorisedSignatoryName']").val();

                formatAddressForServiceOfNotices(name, position);
            });

            function formatAddressForServiceOfNotices(name, position) {
                var address = name + ', ' + position + ', 91 Carba Road Mount Schank';
                $("p[id='AddressForServiceOfNotices']").text(address);

            }
        });
    </script>
}
